#page-local-sharedresources-explore .header h2,
#page-local-sharedresources-browse  .header h2 {
    font-size: 1rem;
}

.resourceitem {
    background-color: #f8f8f8;
    border: 1px solid #e8e8e8;
    margin-bottom: 1px;
    padding: 10px;
}

#side-pre-like {
    background-color: #fafafa;
    padding: 20px;
}

#side-pre-like .block .header {
    color: #fafafa;
}

.resource-thumbnail {
    display: inline-block;
    float: right;
    max-width: 350px;
    padding-right: 20px;
    padding-top: 20px;
}

.resource-info {
    border-radius: 0 8px 8px 8px;
    border: 1px solid #d0d0d0;
    display: inline-block;
    font-weight: normal;
    margin-bottom: 10px;
    min-height: 120px;
    overflow: auto; /* for overflowing picts */
    padding: 10px;
}

.resource-social {
    background-color: #e0e0e0;
    border-left: 1px solid #d0d0d0;
    border-radius: 8px 8px 0 0;
    border-right: 1px solid #d0d0d0;
    border-top: 1px solid #d0d0d0;
    width: 480px;
}

.resource-user-controls {
    border-top: 1px solid #e0e0e0;
    margin: 8px 0 15px 15px;
}

.resource-user-controls a {
    font-weight: 0.95;
}

.resourceitem .generalbox {
    margin-left: 15px;
}

.oai-doc dd {
    margin-top: 10px;
}

.resource-usage,
.resource-views,
.resource-likes {
    display: inline-block;
    margin-right: 20px;
}

.resource-info .smalltext {
    font-size: 80%;
}

.browser-current-category {
    margin-bottom: 15px;
}

.sharedresource-browse-up {
    height: 36px;
}

.sharedresources-taxonomy-chooser {
    margin-bottom: 15px;
}

.sharedresources-taxonomy-chooser * {
    display: inline;
}

.sharedresources-pager a {
    margin-right: 10px;
}

#sharedresources-link-to-search {
    margin-top: 15px;
}

.sharedresources-description .resource-keywords {
    margin-top: 15px;
}

a.sharedresource-actionlink {
    cursor: pointer;
}

.is-hidden-by-rule {
    -moz-opacity: 0.5;
    filter: alpha(opacity=50);  /* Opacity for IE8 and lower */
    opacity: 0.5;
}

/* List template */
.sharedresource-item {
    margin-bottom: 1.8em;
    width: 100%;
}

.sharedresource-line .resource-cell {
    padding: 0 5px;
    vertical-align: top;
}

.sharedresource-line .resource-download {
    width: 10%;
}

/* boxed template */
.sharedresource-list.boxed {
    margin-left: 5%;
    vertical-align: top;
}

.sharedresource-picture img {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 100%;
}

.sharedresource-item-container .resource-download {
    float: right;
}

.sharedresource-item-container .resource-title {
    display: inline-block;
}

.sharedresource-user-controls {
    padding-left: 10px;
    text-align: center;
}

.sharedresource-librarian-controls {
    padding-left: 10px;
    padding-right: 5px;
    text-align: right;
}

.sharedresource-item-container {
    display: inline-block;
    margin-right: 15px;
    max-width: 28%;
    vertical-align: top;
    width: 23%;
}

.sharedresource-list.boxed .resource-likes {
    font-size: 80%;
}
.sharedresource-list.boxed .resource-likes img {
    width: 12px;
}

.sharedresource-info-box {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #fefefe;
    box-shadow: 5px 10px 10px #888;
    max-width: 30%;
    padding: 10px;
    position: absolute;
    width: 25%;
    z-index: 600;
}

#local_sharedresource_searchblock input[type="text"] {
    padding: 3px;
}

#local_sharedresource_searchblock .inner-block .header {
    height: 1.8em;
}

#local_sharedresource_searchblock h2 {
    font-size: initial;
}

.box-resource-images {
    max-height: 128px;
    max-width: 128px;
}

.sharedresources-librarian-tools {
    margin: 10px 0;
}

.sharedresources-pager {
    margin: 10px 0;
}

#local_sharedresource_searchblock .inner-block .content input[type=text],
#local_sharedresource_searchblock .inner-block .content input[type=textarea],
#local_sharedresource_searchblock .inner-block .content select {
    width: 100%;
}

.widget-treeselect-select {
    font-size: 85%;
    height: 2em;
    margin-bottom: 3px;
}

#page-local-sharedresources-explore .header h2,
#page-local-sharedresources-browse .header h2 {
    font-size: 1rem;
}

#mtd-form-schema {
    font-size: 0.8rem;
    padding-bottom: 20px;
}

.sharedresource-picture {
    text-align: center;
}

.sharedresource-picture img {
    width: 25%;
}

.sharedresource-user-controls {
    padding-left: 0;
    text-align: center;
}

#sharedresources-link-to-browser {
    margin-bottom: 10px;
}

a.force-delete i {
    color: red;
}

.sh-icon {
    margin-right: 20px;
    margin-left: 10px;
}

img.icon48 {
    height: 48px;
    width: 48px;
}

img.icon16 {
    height: 16px;
    width: 16px;
}

img.icon32 {
    height: 32px;
    width: 32px;
}

#sharedresource-search-mode-select {
    margin-bottom: 1em;
}

.shr-search-toggle-more {
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
}

.shr-search-toggle-more span:before {
    font-family: 'Fontawesome';
    content: "\f067";
}