.resourceitem{
    background-color: #f8f8f8;
    border: 1px solid #e8e8e8;
    margin-bottom: 1px;
    padding: 10px;
}

#side-pre-like{
    background-color: #fafafa;
    padding: 20px;
}

#side-pre-like .block .header {
    color: #fafafa;
}

.resource-thumbnail {
    padding-right:20px;
    padding-top:20px;
    display: inline-block;
    float: right;
    max-width: 350px;
}

.resource-info {
    border-radius: 5px;
    border: 1px solid #cfcfcf;
    font-weight: normal;
    margin: 10px 0;
    padding: 5px;
    display: inline-block;
    min-height:120px;
}

.resourceitem .generalbox{
    margin-left: 15px;
}

.oai-doc dd {
    margin-top: 10px;
}

.resource-usage,
.resource-views,
.resource-likes {
    display: inline-block;
    margin-right: 20px;
}

.resource-info .smalltext {
    font-size: 80%;
}

.resource-download {
    float: right;
}

.resource-title {
    display: inline-block;
}
