{{!
    This file is part of The Dashboard Block

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_sharedresources/resourcebodyinner

    Used when a resource is setup as popuped but accessed directly

    Classes required for JS:
    * local/sharedresource/amd/boxview.js
    * local/sharedresource/amd/library.js

}}
<!-- local_sharedresources/boxresourcebodyinner -->

    <div class="sharedresource-headline d-flex justify-content-between">
    {{#hasversions}}
    <div class="versions">
    {{#hasprevious}}
        <i class="shr-version previous fa fa-angle-left" title="{{#str}}previous, local_sharedresources{{/str}}" data-version="{{previous}}" data-container="{{repoid}}-{{identifier}}"></i>
    {{/hasprevious}}
    {{^hasprevious}} 
    
        <i class="shr-version previous  fa fa-angle-left dimmed"></i>
    {{/hasprevious}}
    &nbsp;&nbsp;
    {{#hasnext}}
        <i class="shr-version next fa fa-angle-right" title="{{#str}}next, local_sharedresources{{/str}}" data-version="{{next}}" data-container="{{repoid}}-{{identifier}}"></i>
    {{/hasnext}}
    {{^hasnext}}
        <i class="shr-version next  fa fa-angle-right dimmed"></i>
    {{/hasnext}}
    </div>
    {{/hasversions}}
    {{#haseditioncommands}}
    <div class="sharedresource-librarian-controls">
        {{{editioncommands}}}<br/>
    </div>
    {{/haseditioncommands}}
    </div>

    <div class="sharedresource-picture {{ishiddenbyrule}}">
        <img class="box-resource-images" id="sharedresource-image-{{identifier}}" src="{{{largepixurl}}}" />
    </div>

    <div class="sharedresource-heading {{ishiddenbyrule}}">
        <div class="resource-title-container">
            <div class="box-resource-titles" id="sharedresource-title-{{identifier}}">{{title}} </div>
        </div>

        <div class="sharedresource-user-controls">
            {{#url}}
            <a href="{{{url}}}" target="_blank" title="{{#str}}download, local_sharedresources{{/str}}"><img src="{{{boxdownloadpixurl}}}" /></a>
            {{/url}}
            {{^url}}
            <img src="{{{boxdownloadpixurl}}}" class="is-hidden-by-rule" alt="{{#str}}ishiddenbyrule, local_sharedresources{{/str}}" />
            {{/url}}
            {{#shownotice}}{{{boxnoticepopupactionlink}}}{{/shownotice}}
        </div>

        <div class="resource-likes">
           <span id="sharedresource-likes-{{identifier}}">
           {{{stars}}}
           </span>
            <a class="sharedresource-mark-like" id="sharedresource-{{repoid}}-{{identifier}}">{{#str}}markliked, local_sharedresources{{/str}}</a>
        </div>

        {{#hascommands}}
        <div class="resource-user-commands">
            {{> local_sharedresources/resourcecommands}}
        </div>
        {{/hascommands}}
    </div>

    <br/>

    <div class="generalbox sharedresource-info-box" id="sharedresource-info-{{identifier}}" style="display:none">
        {{#description}}
        <div class="sharedresources-description">
            <div class="resource-description">{{{description}}}</div>

            <div class="smalltext resource-keywords"><b>{{#str}}keywords, local_sharedresources{{/str}}:</b> <span class="normaltext">{{keywords}}</span></div>
        </div>
        {{/description}}

        {{^uses}}
        <div class="resource-usage">{{#str}}notused, local_sharedresources{{/str}}</div>
        {{/uses}}
        {{#uses}}
        <div class="resource-usage"><a href="{{{courselisturl}}}"><b>{{#str}}used, local_sharedresources{{/str}}</b> {{uses}}</a></div>
        {{/uses}}
        <div class="resource-mimetype"><b>{{#str}}mimetype, local_sharedresources{{/str}}:</b> {{{mimetype}}}</div>
        <div class="resource-views"><b>{{#str}}viewed, local_sharedresources{{/str}}:</b> {{{views}}}</div>

    </div>
<!-- /local_sharedresources/boxresourcebodyinner -->
