

<!-- local_sharedresources/confirm_import_form -->
<p>
    <form action="#" name="confirm">
        <input type="hidden" name="importpath" value="{{importpath}}"/>
        <input type="hidden" name="context" value="{{context}}"/>
        <input type="hidden" name="importexclusionpattern" value="{{importexclusionpattern}}"/>
        <input type="hidden" name="deducetaxonomyfrompath" value="{{deducetaxonomyfrompath}}"/>
        <input type="hidden" name="simulate" value="{{simulate}}"/>
        <input type="hidden" name="localize" value="{{localize}}"/>
        <input type="hidden" name="taxonomy" value="{{taxonomy}}"/>
        <input type="hidden" name="encoding" value="{{encoding}}"/>
        <input type="hidden" name="nativeutf8" value="{{nativeutf8}}"/>
        <input type="hidden" name="deployzips" value="{{deployzips}}"/>
        <input type="hidden" name="makelabelsfromguidance" value="{{makelabelsfromguidance}}"/>
        <input type="submit" name="confirm" value="{{confirmstr}}" />
    </form>
</p>
<!-- /local_sharedresources/confirm_import_form -->
