

<!-- local_sharedresources/pager -->
<center>
<div class="sharedresources-pager">
    {{#pages}}
    <a style="{{{pagestyle}}}" name="page{{i}}" href="{{{libraryurl}}}">{{i}}</a>
    {{/pages}}
<div>
</center>
<!-- /local_sharedresources/pager -->