{{!
    This file is part of The Dashboard Block

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_sharedresources/resourcebody

    Used when a resource is setup as popuped but accessed directly

    Classes required for JS:
    * mod/sharedresource/amd/view.js

}}
<!-- resourcebody -->
<table class="sharedresource-item">

    <tr class="sharedresource-line {{ishiddenbyrule}}">
        <td class="resource-cell resource-title" width="70%">
            <img id="sharedresource-toggle-{{identifier}}" class="sharedresource-toggle-handle" src="{{handlepixurl}}">

            <img src="{{{pixurl}}}" class="iconlarge" /> <a href="{{{url}}}" target="_blank">{{title}}</a>
        </td>

        <td class="resource-cell resource-download" width="10%">
            <!-- a href="{{{url}}}" target="_blank"><img src="{{{downloadpixurl}}}" class="iconlarge" /> </a -->
        </td>

        {{#hascommands}}
        <td class="resource-cell resource-commands" width="20%">
            {{{editioncommands}}}
        </td>
        {{/hascommands}}
    </tr>

    <tr class="sharedresource-user-control {{ishiddenbyrule}}">
        <td colspan="3">
            <div class="resource-user-controls">{{{noticepopupactionlink}}} {{> local_sharedresources/resourcecommands}}</div>
        </td>
    </tr>

    <tr class="sharedresource-info {{ishiddenbyrule}}">
        <td colspan="3">
            {{^hidesocial}}
            <div class="generalbox resource-social" id="sharedresource-social-{{identifier}}" style="display:none">
                {{^uses}}
                <div class="resource-usage">{{#str}}notused, local_sharedresources{{/str}}</div>
                {{/uses}}
                {{#uses}}
                <div class="resource-usage"><a href="{{courselisturl}}">{{#str}}used, local_sharedresources{{/str}}: {{uses}}</a></div>
                {{/uses}}

                <div class="resource-mimetype">{{#str}}mimetype, local_sharedresources{{/str}}: {{{mimetype}}}</div>
                <div class="resource-views">{{#str}}viewed, local_sharedresources{{/str}}: {{{views}}}</div>

                <div class="resource-likes">
                   <span id="sharedresource-likes-{{identifier}}">
                   {{{stars}}}
                   </span>
                    <a class="sharedresource-mark-like" id="sharedresource-{{repoid}}-{{identifier}}">{{#str}}markliked, local_sharedresources{{/str}}</a>
                </div>
            </div>
            {{/hidesocial}}

            <div class="generalbox resource-info" id="sharedresource-info-{{identifier}}" style="display:none">
            {{#description}}
                <div class="sharedresources-description">
                    <div class="resource-thumbnail">{{{thumbnail}}}</div>
                    <div class="resource-description">{{{description}}}</div>

                    <div class="smalltext resource-keywords">{{#str}}keywords, local_sharedresources{{/str}}: <b>{{keywords}}</b></div>
                </div>
            {{/description}}
            </div>
        </td>
    </tr>
</table>
<!-- /resourcebody -->
