


<!-- search_numeric -->
<div class="header">
    <h2>{{widgetname}} {{{numericsearchhelpicon}}}</h2>
</div>
<div class="content">
    <select name="{{label}}_symbol">
        <option selected value="basicvalue"> </option>
        <option value="=">=</option>
        <option value="<>">?</option>
        <option value="<"><</option>
        <option value=">">></option>
        <option value="<=">=</option>
        <option value=">=">=</option>
    </select>
    <input type="text" name="{{label}}"/>
</div>
<!-- /search_numeric -->
