

<!-- search_select -->
<div class="header">
    <h2>{{widgetname}} {{{selectsearchhelpicon}}}</h2>
</div>
<div class="content">
    <select name="{{label}}">
        <option selected value="defaultvalue"> </option>
        {{{options}}}
    </select>
</div>
<!-- /search_select -->
